.popup__container{
    background-color: #ffffff;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    
    position: fixed;
    
    
}

@media screen and (max-width: 320px){
    .popup__container{
        max-width: 282px;
        max-height: 322px;
    }
}