.profile__edit-avatar{
    background-image: url('../../../images/edit-avatar.svg');
    position:absolute;
    top:50%;
    left:50%;
    width: 26px;
    height: 26px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 0;
}