.profile__avatar{
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    
}

.profile__avatar:hover{
    opacity:.5;
    
}

@media screen and (max-width: 580px){
    .profile__avatar{
        margin: 0 auto;
    }
}