.profile__edit-btn{
    background-color: #000000;
    border: 1px solid #ffffff;
    width: 24px;
    height: 24px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    background-image: url('../../../images/edit.png');
    background-repeat: no-repeat;
    background-position: center;  
    cursor: pointer;
}

.profile__edit-btn:hover{
    opacity: 0.6;

}

@media screen and (max-width: 580px){
    .profile__edit-btn{
        width: 18px;
        height: 18px;
        z-index: 1;
        
    }
}