.popup__close-btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    max-width: 40px;
    height: 420px;
    display: flex;
}
  
.popup__close-btn:hover{
    opacity: 0.6;
}

@media screen and (max-width:320px){
    .popup__close-btn{
        max-width: 26px;
    }
}